In [27]:
#Import Libraries
import pandas as pd

In [28]:
#Integer to binary function
def binary(num):
    converted=[]
    while(num):
        converted.append(1 if num%2 else 0)
        num//=2
    converted.reverse()
    return converted

In [29]:
#Binary to integer function
def decimal(b):
    ret=0
    base=0
    b.reverse()
    for i in b:
        ret+=2**(base)*i
        base+=1
    return ret

In [144]:
#Appends '0' to begenning of X and Y binary list until they are equal
def length_checker(x,y):
    x.reverse()
    y.reverse()
    max=len(x) if len(x)>len(y) else len(y)
    while(len(x)<max):
        x.append(0)
    while(len(y)<max):
        y.append(0)
    x.append(0)
    y.append(0)
    x.reverse()
    y.reverse()
    return x,y

In [143]:
#Full adder function
def halfAdder(x_int,y_int):
    X_bin=binary(x_int)
    Y_bin=binary(y_int)
    X_bin, Y_bin = length_checker(X_bin, Y_bin)
    
    sum = []
    carry = []
    #Sum = X xor Y #Carry = X and Y
    for i in range(len(X_bin)):
        sum.append(X_bin[i] ^ Y_bin[i])
        carry.append(X_bin[i] and Y_bin[i])
    
    print(f"Input X : {x_int}")
    print(f"Input Y : {y_int}\n")
    data=pd.DataFrame({"X binary":X_bin,"Y binary":Y_bin,"Sum":sum,"Carry":carry})
    data.index.name="S no"
    return data

In [146]:
#X=3 Y=5
halfAdder(3,5)

Input X : 3
Input Y : 5

      X binary  Y binary  Sum  Carry
S no
0            0         0    0      0
1            0         1    1      0
2            1         0    1      0
3            1         1    0      1

In [147]:
#X=16 Y=20
halfAdder(16,20)

Input X : 16
Input Y : 20

      X binary  Y binary  Sum  Carry
S no
0            0         0    0      0
1            1         1    0      1
2            0         0    0      0
3            0         1    1      0
4            0         0    0      0
5            0         0    0      0

In [148]:
#X=9 Y=11
halfAdder(9,11)

Input X : 9
Input Y : 11

      X binary  Y binary  Sum  Carry
S no
0            0         0    0      0
1            1         1    0      1
2            0         0    0      0
3            0         1    1      0
4            1         1    0      1